@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

body {
    background: #0078BF no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.cardbody-color{
    background-color: #0078BF;
}

.cardbody-color:before{
    content: "";

    position: absolute;
    left: -150px;
    top: 100px;

    width: 150px;
    height: 150px;

    background-image: url("round_icon.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
}

.auth-card{
    border: 0px;
}

.form_field{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form_field input{
    border-radius: 15px;
}

.form_field input[type='text'],
.form_field input[type='email']{
    padding-left: 30px;
}

.email_field::before{
    content: "";

    position: absolute;
     width: 15px;
    height: 15px;

    background-image: url("email.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.login-form .email_field::before{
    left: 55px;
    top: 138px;
}

.login-form .password_field::before{
    left: 55px;
    top: 190px;
}

.password_field::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("password.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.signup-form .email_field::before{
    left: 27px;
    top: 42px
}

.signup-form .password_field::before{
    left: 27px;
    top: 95px;
}

.form-label{
    margin-bottom: 40px;
}

.remember-chk-label{
    color: white;
    margin-bottom: 20px;
}

.btn-join, .new-usr-btn{
    background-color: #60BD4E;
}

.btn-join, .new-usr-btn, .log-out-btn{
    border-radius: 10px;
    font-weight: bold;
}

.btn-join{
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.persons-container{
    background-color: #0078BF;
}

.persons-list{
    overflow-y: scroll;
    height: 90vh;
}

.person-data-container {
    background: #00407F no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.main-panel{
    color: #FFFFFF;
}

.persons-container-label{
    margin: 15px 15px 15px 45px;
    font-size: 30px;
    font-weight: bold;
}

.person-card{
    border-radius: 10px;
    border: 3px white solid;
    margin: 15px;
}
.clicked-card{
    border-color: #FF0000;
}
.person-card:hover{
    border-color: #60BD4E;
}

.person-card .card-body{
    padding: 10px 20px;
}

.person-card .card-title,
.person-card .card-text,
.person-card .card-subtitle{
    color: black;
    font-weight: bold;
}

.person-data-nav{
    background-color: #0F58A0;
    height: 6vh;
    padding-top: 1vh;
    padding-right: 20px;
    font-weight: bold;
}

.person-data-container{
    padding: 0px;
}

.person-data-card{
    margin: 30px;
    background-color: #00407F;
    border: 0px;
}

.person-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.person-data-rows{
    margin-left: 15px;
}

.person-data-rows .person-name{
    font-weight: bold;
    font-size: 30px;
}

.person-data-rows .person-email,
.person-data-rows .person-phone,
.person-data-rows .person-level{
    font-size: 25px;
    font-weight: bold;
}

.person-data-rows .person-id{
    font-size: 20px;
    color: #ABABAB;
}

.menu-btn{
    margin-left: auto;
}

.menu-tabs{
    margin-left: 20px;
}

.menu-tabs button{
    color: white;
    font-weight: bold;
}

.menu-tabs button:hover{
    color: #60BD4E;
}

.new-usr-modal .modal-dialog{
    color: #000;
    border-radius: 10px;
}

.level_field select{
    width: 60px;
    border-radius: 10px;
}