{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card my-5">
                <form method="POST" class="login-form card-body cardbody-color p-lg-5">
                    <h2 class="text-left text-light form-label">Авторизация</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form_field email_field">
                                <input class = "form-control" id="email" name="email" type="email" placeholder="Введите email" onchange="check_login_form()" required>
                            </div>
                            <div class="form_field password_field">
                                <input class = "form-control" id="password" name="password" type="text" placeholder="Введите пароль" onchange="check_login_form()" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="remember-chk" id="remember_me" name="remember_me" type="checkbox" value="y">
                            <label class="remember-chk-label" for="remember_me">Запомнить меня</label>
                        </div>
                        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                            <input class="btn btn-success btn-join" id="sign_in" name="submit" type="submit" value="Вход" disabled>
                        </div>
                        <div class="error-label" style="color: #FF0000">{{ error }}</div>
                    </div>
              </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        function check_login_form(){
            let email = $('input#email').val();
            let password = $('input#password').val();
            if (email && password){
                $('input#sign_in').removeAttr('disabled');
            } else $('input#sign_in').attr('disabled', 'disabled');
        }
    </script>
{% endblock %}