{% extends 'base.html' %}


{% block content %}
    <div class="row main-panel">
        <div class="persons-container col-lg-3 col-md-6">
            <div class="persons-container-label text-center col-lg-2 col-md-6">Пользователи</div>
            <div class="persons-list">

            </div>
        </div>

        <div class="person-data-container col-lg-9 col-md-6">
            <div class="person-data-nav">
                <ul class="nav nav-pills menu-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab"
                                data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Информация</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Задачи</button>
                    </li>
                     <div class="menu-btn d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="button" value="Добавить пользователя" class="new-usr-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  >
                        <a role="button" href="index" class="btn btn-danger log-out-btn" style="font-weight: bold">Выйти</a>
                    </div>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="person-data-label text-center" style="font-size: 30px" id = "person-data">Информация о пользователе</div>
                    <div class="person-data-card-container"></div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="person-tasks-container" id = "person-tasks"></div>
                    <div class="person-tasks-label text-center" style="font-size: 30px" id = "person-data">Список задач</div>
                </div>
            </div>

        </div>

        <div class="modal fade new-usr-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавить нового пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                  <form class="signup-form">
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form_field email_field">
                                <input class = "form-control" id="email" name="email" type="email" placeholder="Введите email" onchange="check_signup_form()" required>
                            </div>
                            <div class="form_field password_field">
                                <input class = "form-control" id="password" name="password" type="text" placeholder="Введите пароль" onchange="check_signup_form()" required>
                            </div>
                            <div class="form_field phone_field">
                                <input class = "form-control" id="phone" name="phone" type="text" placeholder="Телефон" onchange="check_signup_form()" required>
                            </div>
                            <div class="form_field firstname_field">
                                <input class = "form-control" id="firstname" name="firstname" type="text" placeholder="Имя" onchange="check_signup_form()" required>
                            </div>
                            <div class="form_field secondname_field">
                                <input class = "form-control" id="secondname" name="secondname" type="text" placeholder="Отчество" onchange="check_signup_form()" required>
                            </div>
                            <div class="form_field lastname_field">
                                <input class = "form-control" id="lastname" name="lastname" type="text" placeholder="Фамилия" onchange="check_signup_form()" required>
                            </div>
                            <div class="level_field">
                                <select class="form-select form-select-sm" id = "level" aria-label=".form-select-sm example">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" id="signup" onclick="signup_person()" disabled>Добавить</button>
              </div>
            </div>
          </div>
        </div>

    </div>
{% endblock %}


{% block scripts %}
    <script>
    get_all_person();
    function get_all_person(){
        $('.persons-list').html('')
        $.get({
            data : {'token' : 1234},
            dataType : 'JSON',
            url : '/api/all_person',
            success : function (data){
                data.forEach(function (person, i){
                    $('.persons-list').append(get_person_card(`${person['firstname']} ${person['lastname']} ${person['secondname']}`,
                        person['person_level'],
                        person['person_id']));
                })
            }
        })
    }

    function get_person(id){

        //Получение информации о пользователе
        $.get({
            data : {'token' : 1234,
                    'personId' : id},
            dataType: 'JSON',
            url: '/api/person/id',
            success : function (data){
                $('.person-data-card-container').html(get_person_data_card(`${data['firstname']} ${data['lastname']} ${data['secondname']}`,
                    data['email'],
                    data['phone'],
                    data['person_level'],
                    data['person_id']));
            }
        })
    }

    function get_person_card(name, level, id) {
        let person_card = $('<div>', {
            class: "card person-card",
            id: id,
            html: `
            <div class="card-body">
                <h5 class="card-title">${name}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Уровень доступа: ${level}</h6>
                <p class="card-text">ID: ${id}</p>
            </div>`
        })

        person_card.on('click', function (){
            if ($(this).hasClass('clicked-card')){
                $(this).removeClass('clicked-card');
            } else {
                $('.person-card').each(function (){
                    $(this).removeClass('clicked-card');
                })
                $(this).addClass('clicked-card');
                get_person($(this).attr('id'));
            }})

        return person_card
    }

    function get_person_data_card(name, email, phone, level, id){
        let person_data_card = $('<div>', {
            class: "person-data-card card",
            html: `<div class="card-body">
                        <div class="row">
                            <div class="person-img-container col-lg-3 col-md-12" style="color: black">
                                <img class = "person-img" src="static/default-avatar.png" alt="">
                            </div>
                            <div class="person-data-rows col-lg-6 col-md-12">
                                <div class="person-name">${name}</div>
                                <div class="person-email">Электронная почта: ${email}</div>
                                <div class="person-phone">Моб. телефон: ${phone}</div>
                                <div class="person-level">Уровень доступа: ${level}</div>
                                <div class="person-id">ID: ${id}</div>
                            </div>
                        </div>
                    </div>`
        })
        return person_data_card;
    }

    function check_signup_form(){
            let email = $('input#email').val();
            let password = $('input#password').val();
            if (email && password){
                $('button#signup').removeAttr('disabled');
            } else $('button#signup').attr('disabled', 'disabled');
    }

    function signup_person(){
        let form_data = {'email' : $("input#email").val(),
                    'password' : $("input#password").val(),
                    'phone' : $("input#phone").val(),
                    'firstname' : $("input#firstname").val(),
                    'secondname' : $("input#secondname").val(),
                    'lastname' : $("input#lastname").val(),
                    'person_level' : $("select#level").val()}
        console.log(form_data);

        $.post({
            url : "/api/signup",
            data : form_data,
            success : function (textStatus){
                new_usr_form.hide()
                alert("Пользователь успешно добавлен");
                get_all_person();
            }
        })
    }

    let new_usr_form = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                      keyboard: false
                    })

    </script>
{% endblock %}